<a href="https://colab.research.google.com/github/aditipandey37/burnout-productivity-analysis/blob/main/burnout_productivity_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
print("Libraries imported sucessfully")

Libraries imported sucessfully

In [6]:
df= pd.read_csv("/content/synthetic_employee_burnout.csv")

In [7]:
df.head()

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
0,Max Ivanov,32,Male,Analyst,3,60,21,4.40,1,0
1,Max Wang,40,Female,Engineer,9,47,67,2.09,2,0
2,Nina Petrov,33,Female,Engineer,2,44,20,2.58,3,0
3,John Ivanov,35,Female,Manager,6,44,70,3.23,8,0
4,John Wang,59,Male,Sales,8,38,46,4.41,1,0

In [9]:
df.shape

(2000, 10)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2000 non-null   object
 1   Age                2000 non-null   int64
 2   Gender             2000 non-null   object
 3   JobRole            2000 non-null   object
 4   Experience         2000 non-null   int64
 5   WorkHoursPerWeek   2000 non-null   int64
 6   RemoteRatio        2000 non-null   int64
 7   SatisfactionLevel  2000 non-null   float64
 8   StressLevel        2000 non-null   int64
 9   Burnout            2000 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 156.4+ KB

In [12]:
df.describe()

,Age,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000
mean,40.694500,10.074500,49.588000,49.973000,2.995230,5.43200,0.064500
std,11.286756,9.148267,11.832424,29.151298,1.155431,2.88089,0.245703
min,22.000000,0.000000,30.000000,0.000000,1.000000,1.00000,0.000000
25%,31.000000,3.000000,39.000000,24.000000,2.000000,3.00000,0.000000
50%,41.000000,7.000000,49.000000,49.000000,3.025000,5.00000,0.000000
75%,50.000000,15.000000,60.000000,75.000000,4.000000,8.00000,0.000000
max,60.000000,39.000000,70.000000,100.000000,5.000000,10.00000,1.000000

In [13]:
df.isnull().sum()

Name                 0
Age                  0
Gender               0
JobRole              0
Experience           0
WorkHoursPerWeek     0
RemoteRatio          0
SatisfactionLevel    0
StressLevel          0
Burnout              0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(0)